{% extends 'base.html' %}

{% block title %} Listar Oportunidad de negocio {% endblock %}

{% block content %}

<H1>Oportunidades de Negocio</H1>
<hr />

<table class="table table-striped">
  <thead>
    <tr class="table-info ">
      <th scope="col">Empresa</th>
      <th scope="col">Contacto</th>
      <th scope="col">Nombre de la oportunidad</th>
      <th scope="col">Monto</th>
      <th scope="col">Estado</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>

  {% for oportunidad in oportunidades %}
    <tr>
      <th scope="row">{{ oportunidad.empresa }}</th>
      <td>{{ oportunidad.contacto }}</td>
      <td>{{ oportunidad.nombre }}</td>
      <td>{{ oportunidad.monto }}</td>
      <td>{{ oportunidad.get_estado_display }}</td>
      <th scope="col">
        {% if oportunidad.empresa.propietario == user or oportunidad.contacto == user %}
          <a href="{% url 'actualizar_oportunidad' oportunidad.id %}" class="btn btn-secondary"> editar </a>
          <a href="{% url 'eliminar_oportunidad' oportunidad.id %}" class="btn btn-danger"> eliminar </a>
        {% endif %}
      </th>
    </tr>
  {% endfor %}
  </tbody>
</table>




{% endblock %}