{% extends 'base.html' %}

{% block title %} index {% endblock %}

{% block content %}

    <H1>Bienvenido a la aplicación</H1>

<div class="row">

    <!-- articulos -->
    <div class="col-12 m-2">
        <div class="row">
            {% for empresas in empresas %}
                <div class="col-md-3 col-sm-12 col-lg-4 pb-3">
                    <div class="card">
                        <img src="{{ empresas.image.url }}" height="300" class="card-img-top" alt="{{ empresas.nom_comercial }}" />
                        <div class="card-body">
                            <h5 class="card-title">{{ empresas.nom_comercial}}</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-success"> +Oportunidad</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>




{% endblock %}
