{% extends 'base.html' %}

{% block title %} index {% endblock %}

{% block content %}

    <H1>Empresas</H1>
<hr />
<div class="row">

    <!-- articulos -->
    <div class="col-12 m-2">
        <div class="row">
            {% for empresa in empresas %}
                <div class="col-md-3 col-sm-12 col-lg-4 pb-3">
                    <div class="card">
                        <img src="{{ empresa.image.url }}" height="300" class="card-img-top" alt="{{ empresa.nom_comercial }}" />
                        <div class="card-body">
                            <h5 class="card-title">{{ empresa.nom_comercial}}</h5>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'crear_oportunidad' %}" class="btn btn-success"> +Oportunidad</a>

                        {% if empresa.propietario == user %}
                            <a href="{% url 'actualizar_empresa' empresa.id %}" class="btn btn-secondary"> editar </a>
                            <a href="{% url 'eliminar_empresa' empresa.id %}" class="btn btn-danger"> eliminar </a>
                        {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}
